# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
go-svc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

vendor
.testCoverage.txt

# charts dependencies
deployment/charts/**/charts

.idea/*
!.idea/runConfigurations
.tmp_go_build

node_modules/